<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.animesafar.dinterviewkit">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dinterviewkit"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".groupdiscussion.AllGdRoomsActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".GroupDiscussionActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_group_discussion" -->
        <!-- android:theme="@style/Theme.Dinterviewkit.NoActionBar" /> -->
        <activity
            android:name=".extraactivities.Groupchatactivity"
            android:exported="true" />
        <activity
            android:name=".extraactivities.Ieltsactivity"
            android:exported="true" />
        <activity
            android:name=".Selectionactivity"
            android:exported="true" />
        <activity android:name=".langiden.Langidentifier" />
        <activity android:name=".Poseactivity" />
        <activity android:name=".CustomQuestions" />
        <activity
            android:name=".Chooseractivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".datapackage.Allrecodings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Questionslist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupdiscussion.GroupDiscussionActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8549163288628134~6914113708" />

        <activity
            android:name=".Landingpage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notibroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>